# Be sure to restart your server when you modify this file.

# Your secret key for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!
# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
Dojoonde::Application.config.secret_token = '099d2dca29713901872ff43f111978ea073250fafd8dd36d24fb824830ce15cd05947eacd36969ffdf74b9f192017e6f9c5f9bc3cbbc287cc461a991d1638381'
