<h1>Dojo, aonde?</h1>
<nav>
  <ul>
    <li><%= link_to 'Novo dojo', '/dojos/new' %></li>
    <li><%= link_to 'Já aconteceu!', '/dojos/aconteceram' %></li>
  </ul>
</nav>

<section>
  <h3>Próximos coding dojos</h3>
  <ul id="dojos">
    <% @dojos.each do |dojo| %>
      <li><%= dojo.local %></li>
    <% end %>
  </ul>
</section>
