<div class="navbar">
  <div class="navbar-inner">
    <nav>
      <ul class="nav">
        <li><%= link_to 'Novo dojo', new_dojo_path %></li>
        <li><%= link_to 'Já aconteceu!', '/dojos/aconteceram' %></li>
      </ul>
    </nav>
  </div>
</div>

<section class="span5">
  <h2>Próximos coding dojos</h2>
  <ul id="dojos" class="unstyled well well-small">
    <% @dojos.each do |dojo| %>
      <li>
        <%= link_to "#{dojo.day} - #{dojo.local.name} - #{dojo.local.city}", dojo_path(dojo) %>
      </li>
    <% end %>
  </ul>
  <%= link_to "Exibir todos", dojos_path, class: "btn" %>
</section>
