<div class="navbar">
  <div class="navbar-inner">
    <nav>
      <ul class="nav">
        <li><%= link_to 'Novo dojo', new_dojo_path %></li>
        <li><%= link_to 'Já aconteceu!', '/dojos/aconteceram' %></li>
      </ul>
    </nav>
  </div>
</div>

<section>
  <h2>Próximos coding dojos</h2>
  <ul id="dojos">
    <% @dojos.each do |dojo| %>
      <li><%= dojo.local.name %></li>
    <% end %>
  </ul>
  <%= link_to "Exibir todos", dojos_path %>
</section>
