<section class="span5 well well-small">
  <h2>Próximos coding dojos</h2>

  <% if @dojos.any? %>
    <ul id="dojos">
      <% @dojos.each do |dojo| %>
        <li>
          <%= link_to dojo, dojo_path(dojo) %>
        </li>
      <% end %>
    </ul>
    <%= link_to "Exibir todos", dojos_path, class: "btn btn-primary btn-large btn-block" %>
  <% else %>
    <p class="lead">
      Que pena, não tem nenhum coding dojo acontecendo. :-(
    </p>
  <% end %>
</section>
