<h2>
  Editar dojo | 
  <%= link_to "Copiar", copied_dojo_path(@dojo), class: "btn btn-primary" %> |
  <% if @dojo.retrospective && @dojo.retrospective.not_empty? %>
    <%= link_to "Editar retrospectiva", edit_dojo_retrospective_path(@dojo, @dojo.retrospective), class: "btn btn-success" %>
  <% else %>
    <%= link_to "Registrar retrospectiva", new_dojo_retrospective_path(@dojo), class: "btn btn-success" %>
  <% end %>
</h2>

<%= render "form" %>
