<h2>Dojos que jรก aconteceram!</h2>

<table>
  <thead>
    <tr>
      <th>Local</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @dojos.each do |dojo| %>
      <tr>
        <td><%= dojo.local %></td>
        <td><%= link_to 'Detalhes', dojo_path(dojo.id)  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
