<h2>Dojos que jรก aconteceram!</h2>

<table>
  <thead>
    <tr>
      <th>Local</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @dojos.each do |dojo| %>
      <tr>
        <td><%= dojo.local %></td>
        <td><%= link_to 'Editar', edit_dojo_path(dojo)  %></td>
        <td><%= link_to 'Excluir', dojo, confirm: 'Tem certeza que deseja excluir?', method: :delete  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
