<h2 class="page-header">Dojos cadastrados</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Local</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @dojos.each do |dojo| %>
      <tr>
        <td><%= dojo.local.name %></td>
        <td>
          <%= link_to 'Editar', edit_dojo_path(dojo), class: "btn btn-mini"  %>
        </td>
        <td>
          <%= link_to 'Excluir', dojo,
            confirm: 'Tem certeza que deseja excluir?', method: :delete,
            class: "btn btn-mini btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Novo", new_dojo_path, class: "btn" %>
