// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0 auto;
  max-width: 960px;
}

footer, h2 {
  text-align: center;
}

section {
  p { text-align: center; }
  li { padding: 10px; }
}

.top-left {
  text-align: left;
}

.top-right {
  text-align: right;
}
